*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/background.jpg");
    background-color: rgb(0, 0, 0,0.4);
    background-blend-mode: overlay;
}
.nav-bar{
    height: 70px;
    background-color: rgb(0, 0,0,0.5);
}
.logo img{
    padding-left: 20px;
    width: 350px;
    height: 70px;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,2));
}
.heading{
    font-size: 50px;
    color: white;
    position: relative;
    top: -70px;
    font-family: 'Tangerine', cursive;;
}
.nav-bar ul li{
    font-size: 28px;
    display: inline;
    position: relative;
    left: 960px;
    top: -130px;
}
.nav-bar ul li a{
    color: white;
    text-decoration: name;
    padding-right: 15px;
}
.heading h1{
    animation-name: food;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes food{
    0%{
        text-shadow: 20px 10px 40px #37b448,3px 3px 5px blue;
    }
    25%{
        text-shadow: 30px 10px 40px #00cc99,3px 3px 5px yellow;
    }
    50%{
        text-shadow:0  10px 40px #019ad2,3px 3px 5px purple;
    }
    75%{
        text-shadow: -50px 10px 40px #fbcf61,3px 3px 5px blue;
    }
    100%{
        text-shadow: 0px 10px 40px #f12b4a,3px 3px 5px #f15710;
    }

}
.food-menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.first-div{
    width: 220px;
    height: 350px;
    background-image: url("../images/biriyani.jpg");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    margin-right: 15px;
}
.first-div:hover{
    box-shadow: 0 0 12px white;
    transition: 0.6s;
}
.first-div img{
    margin-top: 20px;
    width:220px;
    height: 200px;
    border-radius: 100px;

}
.first-div img:hover{
    box-shadow: 0 0 25px white;
    transition: 0.6s;
    cursor: pointer;
}
.food-name h1{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.tooltip{
    background-color: red;
}
/*second div*/
.second-div{
    width: 220px;
    height: 350px;
    background-image: url("../images/biriyani.jpg");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    margin-right: 15px;
}
.second-div:hover{
    box-shadow: 0 0 12px white;
    transition: 0.6s;
}
.second-div img{
    margin-top: 20px;
    width:220px;
    height: 200px;
    border-radius: 100px;

}
.second img:hover{
    box-shadow: 0 0 25px white;
    transition: 0.6s;
    cursor: pointer;
}
.food-name h1{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.tooltip{
    background-color: red;
}
/*Third div*/
.third-div{
    width: 220px;
    height: 350px;
    background-image: url("../images/biriyani.jpg");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    margin-right: 15px;
}
.third-div:hover{
    box-shadow: 0 0 12px white;
    transition: 0.6s;
}
.third-div img{
    margin-top: 20px;
    width:220px;
    height: 200px;
    border-radius: 100px;

}
.third img:hover{
    box-shadow: 0 0 25px white;
    transition: 0.6s;
    cursor: pointer;
}
.food-name h1{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.tooltip{
    background-color: red;
}
/*four div*/
.four-div{
    width: 220px;
    height: 350px;
    background-image: url("../images/biriyani.jpg");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    margin-right: 15px;
}
.four-div:hover{
    box-shadow: 0 0 12px white;
    transition: 0.6s;
}
.four-div img{
    margin-top: 20px;
    width:220px;
    height: 200px;
    border-radius: 100px;

}
.four-div img:hover{
    box-shadow: 0 0 25px white;
    transition: 0.6s;
    cursor: pointer;
}
.food-name h1{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.tooltip{
    background-color: red;
}
/*four div*/

.fifth-div{
    width: 220px;
    height: 350px;
    background-image: url("../images/biriyani.jpg");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    margin-right: 15px;
}
.fifth-div:hover{
    box-shadow: 0 0 12px white;
    transition: 0.6s;
}
.fifth-div img{
    margin-top: 20px;
    width:220px;
    height: 200px;
    border-radius: 100px;

}
.fifth-div img:hover{
    box-shadow: 0 0 25px white;
    transition: 0.6s;
    cursor: pointer;
}
.food-name h1{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.tooltip{
    background-color: red;
}


